.mainHeaderContainer {
    background: var(--blue);
}

.mainContent {
    padding: 2rem 1rem 12rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        font-size: 1rem;
        color: var(--shape);

        background: var(--blue-light);
        border: 0;
        padding: 0 2rem;
        border-radius: .25rem;
        height: 3rem;

        transition: filter .2s;

        &:hover {
            filter: brightness(.9);
        }
    }
}